body {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
}

ul {
	text-align: center;
	padding-left: 0;
}

#map {
	margin-top: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

#map canvas {
	cursor: crosshair;
}

.nav-container {
	display: flex;
	justify-content: flex-start;
	margin-top: 2vh;
	height: 50px;
}

#map-style-selector {
	background-color: rgba(255, 255, 255, 0.9);
	position: absolute;
	right: 1vw;
	z-index: 1;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	border-radius: 12px;
	padding: 12px;
	border-radius: 8px;
	border: 2px solid #4a5568;
	color: #2d3748;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-size: 16px;
	appearance: none;
}

#map-style-selector:hover {
	background-color: rgb(220, 220, 220);
	cursor: pointer;
}

#origin {
	background: rgba(250, 250, 250, 0.8);
	display: none;
	z-index: 1;
	position: relative;
	left: 12vw;
	width: 10vw;
	overflow: none;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-wrap: wrap;
	font-weight: bold;
	margin-right: 20vw;
	padding: 10px;
	font-size: 16px;
	border-radius: 12px;
	border: 2px solid #4a5568;
}

#artist-list {
	height: 220px;
	padding: 20px;
	padding-top: 0px;
	padding-bottom: 10px;
	overflow-x: hidden;
	overflow-y: hidden;
}

#artist-list:hover {
	scrollbar-width: none;
	overflow-y: auto;
}

#artist-info {
	padding-top: 0;
	margin-top: 0;
	text-wrap: wrap;
}

#slide-container {
	background: rgba(250, 250, 250, 0.9);
	border-color: #4a5568;
	border: 2px solid #4a5568;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	left: 2vw;
	min-width: 12vw;
	max-width: 16vw;
	border-radius: 6px;
	padding: 10px;
	padding-bottom: 0;
	padding-top: 0;
}

#slide-container input {
	width: 12vw;
}

#artists-range.slider:hover {
	cursor: pointer;
}

#artists-range-value {
	font-weight: 600;
	font-size: 16px;
	text-align: center;
	width: 1vw;
	margin: 2px;
	padding: 2px;
}

#search-container {
	background: rgb(250, 250, 250);
	border-color: #4a5568;
	border: 2px solid #4a5568;
	display: flex;
	position: relative;
	justify-content: center;
	align-content: center;
	left: 4vw;
	min-width: 22vw;
	max-width: 28vw;
	border-radius: 6px;
	padding: 12px;
	padding-bottom: 0;
	padding-top: 0;
	padding-right: 0;
}

#search-input {
	border: none;
	outline: none;
	width: 90%;
}

#search-button {
	background-color: rgb(240, 240, 240);
	font-size: 16px;
	font-weight: bold;
	min-width: 78px;
	max-width: 8vw;
	padding: 10px 15px;
	border-radius: 6px;
	border: none;
	border-left: 1px solid;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	justify-content: center;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-size: 16px;
	appearance: none;
}

#search-button:hover {
	background-color: rgb(220, 220, 220);
	cursor: pointer;
}

#search-button:active {
	background-color: rgb(200, 200, 200);
}

.marker {
	display: block;
	position: absolute;
	transform: translate(-50%, -50%);
	width: 24px;
	height: 36px;
	background-image: url(../images/custom-marker.png);
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 0;
	cursor: none;
}

.dot {
	display: block;
	position: absolute;
	transform: translate(-50%, -50%);
	width: 24px;
	height: 36px;
	background-image: url(../images/custom-dot.png);
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 0;
	cursor: none;
}

.maplibregl-popup-content {
	position: absolute !important;
	max-height: 240px;
	min-width: 240px;
	max-width: 400px;
	border-radius: 12px !important;
	text-align: center;
	font-size: 16px;
	border: 2px solid #4a5568;
	background: rgb(250, 250, 250, 0.8) !important;
}

.maplibregl-popup-close-button {
	font-size: 20px;
	font-weight: bold;
	margin-right: 4px;
}

.maplibregl-popup-tip {
	display: none;
}

.maplibregl-ctrl-top-left {
	display: block;
	position: absolute;
	left: 10px !important;
	top: 20% !important;
}
